<div class="aside-inner">
    <nav class="sidebar" >
    <ul class="nav ">
        <li  class="active">
            <a title="Dashboard" >
                <em  class="icon-speedometer"></em>
               <span class="ng-binding">首页</span>
            </a>
        </li>
        <li class=" ">
            <a title="Dashboard">
                <em  class="icon-speedometer"></em>
                <span class="ng-binding">数据管理</span>
            </a>
            <div class="sacendnav">
                <ul>
                    <li>用户列表</li>
                    <li>商家列表</li>
                    <li>食品列表</li>
                    <li>订单管理</li>
                    <li>管理员列表</li>
                </ul>
            </div>
        </li>
        <li class=" ">
            <a title="Dashboard" >
                <em  class="icon-speedometer"></em>
                <span class="ng-binding">添加数据</span>
            </a>
            <div class="sacendnav">
                <ul>
                    <li>添加商铺</li>
                    <li>添加商品</li>
                </ul>
            </div>
        </li>

    </ul>
    </nav>
</div>