<nav role="navigation" class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a href="#/" class="navbar-brand">
            <div class="brand-logo">
                sssss
            </div>

        </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <!-- Search icon-->
        <li>
            <a href="#" search-open="search-open">
                <em class="icon-magnifier"></em>
            </a>
        </li>
        <!-- Fullscreen (only desktops)-->
        <li class="visible-lg">
            <a href="#" toggle-fullscreen="toggle-fullscreen">
                <em class="fa fa-expand"></em>
            </a>
        </li>
        <!-- START Alert menu-->
        <li dropdown="" class="dropdown dropdown-list">
            <a dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                <em class="icon-bell"></em>
                <div class="label label-danger">11</div>
            </a>
            <!-- START Dropdown menu-->
            <ul class="dropdown-menu animated flipInX">
                <li>
                    <!-- START list group-->
                    <div class="list-group">
                        <!-- list item-->
                        <a href="#" class="list-group-item">
                            <div class="media-box">
                                <div class="pull-left">
                                    <em class="fa fa-twitter fa-2x text-info"></em>
                                </div>
                                <div class="media-box-body clearfix">
                                    <p class="m0">New followers</p>
                                    <p class="m0 text-muted">
                                        <small>1 new follower</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <!-- list item-->
                        <a href="#" class="list-group-item">
                            <div class="media-box">
                                <div class="pull-left">
                                    <em class="fa fa-envelope fa-2x text-warning"></em>
                                </div>
                                <div class="media-box-body clearfix">
                                    <p class="m0">New e-mails</p>
                                    <p class="m0 text-muted">
                                        <small>You have 10 new emails</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <!-- list item-->
                        <a href="#" class="list-group-item">
                            <div class="media-box">
                                <div class="pull-left">
                                    <em class="fa fa-tasks fa-2x text-success"></em>
                                </div>
                                <div class="media-box-body clearfix">
                                    <p class="m0">Pending Tasks</p>
                                    <p class="m0 text-muted">
                                        <small>11 pending task</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <!-- last list item -->
                        <a href="#" class="list-group-item">
                            <small translate="topbar.notification.MORE" class="ng-scope"><span class="ng-scope">More notifications</span></small>
                            <span class="label label-danger pull-right">14</span>
                        </a>
                    </div>
                    <!-- END list group-->
                </li>
            </ul>
            <!-- END Dropdown menu-->
        </li>
        <!-- END Alert menu-->
        <!-- START Contacts button-->
        <li>
            <a href="#" toggle-state="offsidebar-open" no-persist="no-persist">
                <em class="icon-notebook"></em>
            </a>
        </li>
        <!-- END Contacts menu-->
    </ul>
</nav>